# Database Configuration
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/fikreislam?retryWrites=true&w=majority"

# Authentication
# Run `openssl rand -base64 32` to generate a strong string
JWT_SECRET="your-strong-jwt-secret"

# Internet Archive Storage Configuration
NEXT_PUBLIC_IA_ACCESS_KEY="your-internet-archive-access-key"
NEXT_PUBLIC_IA_SECRET_KEY="your-internet-archive-secret-key"

# Email Configuration (Brevo)
BREVO_API_KEY="your-brevo-api-key"
BREVO_SENDER_EMAIL="no-reply@fikreislam.com"
